<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Vue測試</title>
    <link rel=stylesheet type="text/css" href="./index.css?v=123456">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body class="body_bg">
    <div id="app-user-list">
        <div class="user_div">
            <div style="border: 1px lightgray solid;">
                <div style="background-color:lightgray;margin-bottom:5px;">
                    新增用戶
                </div>
                名稱:<input v-model="name" class="user_input"></br>
                年齡:<input v-model="age" class="user_input"></br>
                體重:<input v-model="weight" class="user_input"></br>
                <div style="background-color:lightgray;margin-top:10px;padding: 5px;">
                    <button v-on:click="addUser" style="margin-right:5px;">新增用戶</button>
                    <button v-on:click="cancelAdd">重置</button>
                </div>
            </div>
            <div style="border: 1px lightgray solid;margin-top:10px;">
                <div style="background-color:lightgray;margin-bottom:5px;">
                    更新用戶
                </div>
                名稱:<input v-model="updateName" class="user_input" readonly="readonly"></input>
                </br>
                年齡:<input v-model="updateAge" class="user_input"></br>
                體重:<input v-model="updateWeight" class="user_input"></br>
                <div style="background-color:lightgray;margin-top:10px;padding: 5px;">
                    <button v-on:click="updateUser" style="margin-right:5px;">更新</button>
                    <button v-on:click="cancelUpdate">重置</button>
                </div>
            </div>
        </div>
        <div class="list_div">
            用戶清單 <button v-on:click="queryAllUser">更新用戶清單</button>
            <table class="user_table">
                <tr>
                    <th class="user_table_th">No.</th>
                    <th class="user_table_th">名稱</th>
                    <th class="user_table_th">年齡</th>
                    <th class="user_table_th">體重</th>
                    <th class="user_table_th">功能</th>
                </tr>
                <tbody>
                    <tr v-for="(item, index) in userList" v-bind:item="item" v-bind:key="item.name" onMouseOver="this.style.backgroundColor='lightgray';" onMouseOut="this.style.backgroundColor='white';">
                        <td class=" user_table_td_num ">{{index+1}}</td>
                        <td class="user_table_td_text ">{{item.name}}</td>
                        <td class="user_table_td_num ">{{item.age}}</td>
                        <td class="user_table_td_num ">{{item.weight}}</td>
                        <td class="user_table_td_func " style="text-align:center; ">
                            <button v-on:click="delUser(item.name) ">刪除</button>
                            <button v-on:click="setUpdateDivInfo(item.name, item.age, item.weight) ">更新</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="./index.js?v=123456"></script>
</body>

</html>